<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Driver's Analytics</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/login.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
        
    <script>
        $(document).ready(function () {
            $(".dropdown-menu li a").click(function () {
                $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });
        });
    </script>

</head>

<body style="background-color: white; background-size:100%; background-position-y: -400px;">

    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#2e2e2e;">
        <a class="navbar-brand" href="/">Carpool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                    <li class = "nav-item">
                            <form method = "post" action="/danalytics/dashboard">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Dashboard</button>
                            </form>
                        </li>
                        <li class = "nav-item">
                            <form method = "post" action="/driver/logout">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Log Out</button>
                            </form>
                        </li>
            </ul>
        </div>
    </nav>
    <div
        style="background-image: url('/images/boatImage.jpg'); background-position-y: -200px; background-size: cover; background-attachment: fixed;">
        <div class="jumbotron jumbotron-fluid" style="background:rgba(0, 0, 0, .6);">
            <div class="container" style="color:white;">
                <h1 style="font-size: 64px;">CARPOOL@2019</h1>
                <p class="lead">Share a Ride or Ride to Share</p>
            </div>
        </div>
    </div>

    <div class = "container">
    <div class="dropdown">
        <label for="vehicle">
            <h5>Choose a timing: </h6>
        </label>
        <!-- <button class="btn btn-primary dropdown-toggle" id="vehicle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            Timing
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" data-value="action">12am-2am</a></li>
            <li><a href="#" data-value="another action">2am-4am</a></li>
            <li><a href="#" data-value="something else here">4am-6am</a></li>
            <li><a href="#" data-value="separated link">6am-8am</a></li>
            <li><a href="#" data-value="separated link">8am-10am</a></li>
            <li><a href="#" data-value="separated link">10am-12pm</a></li>
            <li><a href="#" data-value="separated link">12pm-2pm</a></li>
            <li><a href="#" data-value="separated link">2pm-4pm</a></li>
            <li><a href="#" data-value="separated link">4pm-6pm</a></li>
            <li><a href="#" data-value="separated link">6pm-8pm</a></li>
            <li><a href="#" data-value="separated link">8pm-10pm</a></li>
            <li><a href="#" data-value="separated link">10pm-12am</a></li>
        </ul> -->
        <form method = "post">
            <button class="btn btn-primary" formaction="/danalytics/00">12am-2am</button>
            <button class="btn btn-primary" formaction="/danalytics/02">2am-4am</button>
            <button class="btn btn-primary" formaction="/danalytics/04">4am-6am</button>
            <button class="btn btn-primary" formaction="/danalytics/06">6am-8am</button>
            <button class="btn btn-primary" formaction="/danalytics/08">8am-10am</button>
            <button class="btn btn-primary" formaction="/danalytics/10">10am-12pm</button>
            <br/><br/>
            <button class="btn btn-primary" formaction="/danalytics/12">12pm-2pm</button>
            <button class="btn btn-primary" formaction="/danalytics/14">2pm-4pm</button>
            <button class="btn btn-primary" formaction="/danalytics/16">4pm-6pm</button>
            <button class="btn btn-primary" formaction="/danalytics/18">6pm-8pm</button>
            <button class="btn btn-primary" formaction="/danalytics/20">8pm-10pm</button>
            <button class="btn btn-primary" formaction="/danalytics/22">10pm-12am</button>
        </form>
    </div>

    <br/>

    <div class="dropdown">
        <label for="vehicle">
            <h5>Arrange by: </h6>
        </label>
        <!-- <button class="btn btn-primary dropdown-toggle" id="vehicle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            Sort By
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" data-value="action">Increasing bid</a></li>
            <li><a href="#" data-value="another action">Descreasing bid</a></li>
        </ul> -->
        <form method = "post">
            <button class="btn btn-primary" formaction="/danalytics/increasing">Increasing Bids</button>
            <button class="btn btn-primary" formaction="/danalytics/decreasing">Decreasing Bids</button>
        </form>   
    </div>

    <table class="table">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Number of Bids</th>
                <th scope="col">Average Price</th>
              </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < result.length;  i++) { %>
                    <tr>
                        <td><%= result[i].location %></td>
                        <td><%= result[i].total_bids %></td>
                        <td>$<%= result[i].average_bid %></td>
                    </tr>    
                <% } %>
            </tbody>
          </table>
        </div>
</body>

</html>