<!DOCTYPE html>

<html>
  <head>
    <!-- Page Title -->
    <title>Feedback</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <!-- CSS for Styling -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- JavaScript for Interactivity -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <!-- ADDED JavaScript -->
    <script src="javascripts/signupScript.js"></script>

    <script>
      // function hello() {
      //     window.open("/select", "_self");
      // }
      // $(document).ready(function () {
      //     console.log("ready!");
      // $('#driverRadio').click(function () {
      //     $('#collapseExample').collapse('show');
      // });
      // $('#passengerRadio').click(function () {
      //     $('#collapseExample').collapse('hide');
      // })

      $("#submitbtn").click(function() {
        alert("Perform form validation!");
      });
      // })
    </script>
  </head>

  <body
    style="background-color: white; background-size:100%; background-position-y: -400px;"
  >
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background:#2e2e2e;"
    >
      <a class="navbar-brand" href="/">Carpool</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <form method = "post" action="/message/dashboard">
              <!--redirect user to passenger or driver dashboard based on how they logged in using session-->
              <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Dashboard</button>
          </form>
          
          <form method = "post" action="/message/logout">
              <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Log Out</button>
          </form>
        </ul>
      </div>
    </nav>
    <div
      style="background-image: url('/images/boatImage.jpg'); background-position-y: -200px; background-size: cover; background-attachment: fixed;"
    >
      <div
        class="jumbotron jumbotron-fluid"
        style="background:rgba(0, 0, 0, .6);"
      >
        <div class="container" style="color:white;">
          <h1 style="font-size: 64px;">CARPOOL@2019</h1>
          <p class="lead">Share a Ride or Ride to Share</p>
        </div>
      </div>
    </div>

    <div class="container" style="background:white" id="message">
      <form id="sendMessage" action="/message/basic" role="form" method="post">
        <div class="form-group">
          <label for="inputEmail4">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="inputCity">Message</label>
          <input
            type="text"
            class="form-control"
            id="userMessage"
            name="user_Message"
            placeholder="Write your message here"
          />
        </div>

        <!-- <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="passengerRadio" name="passenger" value="passenger"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Passenger Account
            </label>
        </div> -->

        <br />
        <div style="height:20px"></div>
        <button type="submit" class="btn btn-primary" id="submitbtn">
          SEND :)
        </button>
      </form>
    </div>
    <div style="height:40px"></div>

    <script>
      (function() {
        window.addEventListener(
          "load",
          function() {
            var forms = [document.getElementById(" ")];
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener("submit", check, false);
            });
          },
          false
        );
      })();
    </script>
  </body>
</html>
