<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Sign Up</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/index.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- ADDED JavaScript -->
    <script src="javascripts/signupScript.js"></script>

    <script>
        function hello() {
            window.open("/select", "_self");
        }
        $(document).ready(function () {
            console.log("ready!");
            $('#driverRadio').click(function () {
                $('#collapseExample').collapse('show');
            });
            // $('#passengerRadio').click(function () {
            //     $('#collapseExample').collapse('hide');
            // })
            // $('#submitbtn').click(function () {
            //     alert("Perform form validation!");
            // })
        })
    </script>
</head>

<body style="background-color: white; background-size:100%; background-position-y: -400px;">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#2e2e2e;">
        <a class="navbar-brand" href="/">Carpool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
    <div
        style="background-image: url('/images/boatImage.jpg'); background-position-y: -200px; background-size: cover; background-attachment: fixed;">
        <div class="jumbotron jumbotron-fluid" style="background:rgba(0, 0, 0, .6);">
            <div class="container" style="color:white;">
                <h1 style="font-size: 64px;">CARPOOL@2019</h1>
                <p class="lead">Share a Ride or Ride to Share</p>
            </div>
        </div>
    </div>
    <div class="container" style="background:white">
        <h2 className="my-3"> Please Register. </h2>
        <form id="signup_form" action="signup" role="form" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
            </div>
            <div class="form-grpup">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="inputCity">Credit Card Number</label>
                <input type="text" class="form-control" id="creditCardNum" name ="credit_card" required>
            </div>

            <h5>Register As:</h5>

            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="passengerRadio" name="passenger" value="passenger"
                    checked>
                <label class="form-check-label" for="exampleRadios1">
                    Passenger Account
                </label>
            </div> -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="driverRadio" name="driver" value="driver">
                <label class="form-check-label" for="exampleRadios2">
                    Driver Account
                </label>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="form-group">
                    <label for="inputCity">Enter your vehicle number:</label>
                    <input type="text" class="form-control" id="vehicleNum" name="vehicleNum">
                </div>

                <div class="form-group">
                        <label for="inputCity">Capacity (num of passangers it can hold):</label>
                        <input type="text" class="form-control" id="vehiclePaxNum" name="vehPaxNum">
                    </div>
            </div>
            <br>
            <div style="height:20px"></div>
            <button type="submit" class="btn btn-primary" id="submitbtn">Register</button>
        </form>
    </div>
    <div style="height:40px"></div>

    <script>

        /**
         *  form validation:
         *  1. all fields must be non empty except driver fields(veh num and pax)
         *  2. to be driver, must provide veh num and pax
         */
        const form = document.getElementById('signup_form');
        const name = document.getElementById('name');
        const password = document.getElementById('password');
        const email = document.getElementById('email');
         const creditCardNum = document.getElementById('creditCardNum');
        const vehicleNum = document.getElementById('vehicleNum');
        const vehPaxNum = document.getElementById('vehiclePaxNum');
        
        form.addEventListener('submit', (e) => {
            if(vehicleNum.value === '' && vehPaxNum.value === ''){
                 //good
            } else if (vehicleNum.value !== '' && vehPaxNum.value !== ''){
                //good
                if(Number.isInteger(parseInt(vehPaxNum.value))
                    && vehicleNum.value.length == 8 
                    && vehPaxNum.value >= 1 && vehPaxNum.value <= 6){
                        //good
                    } else {
                        e.preventDefault();
                        alert("Ensure vehicle number is 8 characters long, pax must be integer from 1 to 6")
                    }
            } else {
                //no good
                e.preventDefault();
                alert("To be driver, provide both vehicle number and capacity");
            }
            
        })

    </script>
    <script>
            (function () {
                window.addEventListener('load', function () {
                    var forms = [document.getElementById('signup_form')];
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', check, false);
                    });
                }, false);
            })();
    </script>




<form action="signup/advertise">

</form>
</body>

</html>